@import "main.css";

h1 {
  color: darkred;
}
.first {
  color: chocolate;
  text-decoration: underline;
}
.fz20 {
  font-size: 20px;
}
#paragraph,
#paragraph1 {
  border: 1px solid black;
  font-size: 20px;
}
